body{
	background-color: grey;
	text-align: center;
	margin-top: 100px;
}

.panel{
	width:700px;
	display: inline-block;
	background-color: red;
}

.top-left-panel{
	background-color: red;
	border-top-left-radius:300px;
	width: 300px;
	height: 300px;
}

.top-right-panel{
	background-color: yellow;
	border-top-right-radius:300px;
	width: 300px;
	height: 300px;
}

.button-left-panel{
	background-color: blue;
	border-bottom-left-radius:300px;
	width: 300px;
	height: 300px;
}

.button-right-panel{
	background-color: green;
	border-bottom-right-radius:300px;
	width: 300px;
	height: 300px;
}

.center_button{
	background-color: black;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 300px;
}