body{
	background-color: grey;
	text-align: center;
	margin-top: 100px;
}

.panel{
	width: 200px;
	height:200px;
	display: inline-block;
}


.top-left-panel{
	background-color: red;
	border-top-left-radius:300px;

}

.top-right-panel{
	background-color: yellow;
	border-top-right-radius:300px;

}

.bottom-left-panel{
	background-color: blue;
	border-bottom-left-radius:300px;

}

.bottom-right-panel{
	background-color: green;
	border-bottom-right-radius:300px;

}